@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Система ip - видеонаблюдения</h3>
<p>Добрый день! Вы находитесь в панели администрирования системы ip - видоенаблюдения.</p>
<p>Здесь вы можете добавлять и редактировать инвестпроекты, добавлять к ним ip - камеры и осуществлять наблюдение.</p>

